<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="17.2.2-beta" targetFramework="xamarinios10" />
  <package id="DevExpress.Xpo" version="17.2.2-beta" targetFramework="xamarinios10" />
  <package id="Microsoft.Data.Sqlite" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.7" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.7" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.7" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.ServiceModel.Http" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.ServiceModel.Primitives" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="xamarinios10" />
</packages>