@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>ASP.NET Core 2.0 + XPO 18.1 for .NET Standard 2.0 + Microsoft.Data.Sqlite 2.0</p>
