@page
@model ContactModel
@{
    ViewData["Title"] = "DevExpress";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    505 N. Brand Blvd Suite 1450<br />
    Glendale CA 91203 USA<br />
    <abbr title="Phone">P:</abbr>
    + 1 (818) 844 3383
</address>

<address>
    <strong>Customer Services:</strong> <a href="mailto:clientservices@devexpress.com">clientservices@devexpress.com</a><br/>
    <strong>Enterprise Sales:</strong> <a href="mailto:corpsales@devexpress.com">corpsales@devexpress.com</a><br />
    <strong>Support:</strong> <a href="https://www.devexpress.com/Support/Center/">Support Center</a> - <a href="mailto:support@devexpress.com">support@devexpress.com</a><br />
</address>
