<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="17.2.1" targetFramework="monoandroid80" />
  <package id="DevExpress.Xpo" version="17.2.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Data.Sqlite" version="2.0.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.0.0" targetFramework="monoandroid80" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="monoandroid80" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.7" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.core" version="1.1.7" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.7" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.7" targetFramework="monoandroid80" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.ServiceModel.Http" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.ServiceModel.Primitives" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Transition" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.Palette" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.4.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="monoandroid80" />
</packages>