<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="18.1.6" targetFramework="monoandroid81" />
  <package id="DevExpress.Xpo" version="18.1.6" targetFramework="monoandroid81" />
  <package id="Microsoft.Data.Sqlite" version="2.1.0" targetFramework="monoandroid81" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.1.0" targetFramework="monoandroid81" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="monoandroid81" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="monoandroid81" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.1" targetFramework="monoandroid81" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid81" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="monoandroid81" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="monoandroid81" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="monoandroid81" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.ServiceModel.Http" version="4.5.3" targetFramework="monoandroid81" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="monoandroid81" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="3.2.0.871581" targetFramework="monoandroid81" />
</packages>